<!DOCTYPE html>
<html>
<head>
	<title>RGB Color Game</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/rgbColorGame.css">
	<link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
</head>
<body>

	<div class="container">
	
<h1>The Great
	<br>
	
		<span class='title'id="colorDisp">RGB</span>
	
	<br>
    Color Game
</h1>

<div id="stripe">
	<button id="reset">New Colors</button>
	<span id="message"></span>
	<button class="mode">Easy</button>
	<button class="mode selected">Hard</button>
</div>

<div class="containersq">
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
</div>
	</div>


<script type="text/javascript" src="/scripts/rgbfunc.js"></script>

</body>
</html>